* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid beige;
    background-color: white;
    position: relative;
}

.info {
    font-size: medium;
    font-weight: bold;
    flex: 1;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 120px;
}

.H-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.H-icons a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.H-icons a:hover {
    color: brown;
}

.navbar {
    width: 100%;
    background-color: white;
    padding: 12px 0;
    border-top: 4px solid brown;
}

.navlinks {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.navlinks li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.navlinks li a:hover {
    color: brown;
}

.navlinks button {
    padding: 8px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.navlinks button:hover {
    background-color: maroon;
}

.dropdown {
    position: relative;
}

.dropdown > a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    min-width: 100px;
    border-top: 3px solid brown;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.2s ease;
}

.dropdown-menu li a:hover {
    background-color: brown;
    color: white;
    padding-left: 25px;
}
